page-fotoatleta {
  ion-content{
    background-color: #000000 !important;
  }
  ion-card{
    background-color: #000000 !important;
  }
  .titulo{
    font-size: xx-large;
    color: #ffffff !important;
    text-align: center;
  }

}
